.jumbotron {
  padding-top: 7rem;
  background-color: #c1bdff;
}

#album {
  background-color: #c1bdff;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #6610f2;
}

link {
  display: none;
}

.logo img {
  width: 40px;
  margin-right: 8px;
  margin-left: 10px;
}
