.jumbotron {
  padding-top: 6rem;
  background-color: #c1bdff;
}

#album {
  background-color: #c1bdff;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #6610f2;
}

/* My Keyboard Section*/
