.jumbotron {
  padding-top: 6rem;
  background-color: #c1bdff;
}

#album {
  background-color: #c1bdff;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #6610f2;
}

/* My Keyboard Section*/
.keyboard-box {
  position: relative;
  background-color: #6610f2;
  border-radius: 10px;
  height: 500px;
}

.keyboard-box: :before {
  content: "MY";
  position: absolute;
  color: #ffff;
}
